@model IEnumerable<BaseDeDonnéesLivres.Models.LivreDesire>

@{
    ViewData["Title"] = "Index";
}

<h1>Livres désirés</h1>

<p>
    <a asp-action="Create">Ajouter un livre désiré</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anneePublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageLivre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anneePublication.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageLivre.FileName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
